/* PLEDGE MOBILE */
/* TYPOGRAPHY */


form>input:focus-visible {
    outline: 3px solid orange;
    outline-offset: 3px;
}

input[type="radio"]:focus-visible {
    outline: 3px solid orange;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, .5);
}

.modalPledgeDisabled {
    opacity: .5;
}

.pledgeModal-div>p,
.pledgeModal-div-stats>span {
    color: var(--Dark-gray);
}

.pledgeModal-div-header>p {
    color: hsl(176, 50%, 47%);
    font-weight: 500;
}

.pledgeModal-div-stats>span {
    font-weight: 400;
    font-size: clamp(1rem, 0.3417rem + 3.7618vw, 1.75rem);
}

.pledgeModal-div>p:nth-of-type(2) {
    font-size: clamp(1rem, 0.1223rem + 5.0157vw, 2rem);
    color: black;
    font-weight: 700;
}

.continue {
    color: white;
}

/* LAYOUT */

#pledgeModal {
    background-color: white;
    position: absolute;
    width: 86.5%;
    top: 18vh;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 8% 6.25%;
    border-radius: .75em;
    max-height: max-content;
    overflow: hidden;
    border: none;
}

.pledgeModal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pledgeModal-header>h2 {
    font-size: clamp(0.85rem, 0.06rem + 4.5141vw, 1.75rem);
    font-weight: 700;
}

#pledgeModal>p {
    font-size: clamp(0.6rem, 0.0295rem + 3.2602vw, 1.25rem);
    line-height: 175%;
    margin-block: 8%;
    color: var(--Dark-gray);
}

#close-pledgeModal {
    width: 3.25vw;
    display: flex;
    border: none;
    background-color: transparent;
}


.pledgeModal-div {
    border: 1px solid hsla(0, 0%, 48%, .4);
    padding: 9% 8%;
    border-radius: .75em;
    display: flex;
    flex-direction: column;
}

.pledgeModal-div:not(:last-of-type) {
    margin-block-end: 7.5%;
}

.pledgeModal-div-header {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 7%;
    margin-block-end: 8%;
}

div .first>h3 {
    margin-bottom: 0;
    align-self: center;
}

.pledgeModal-div-header>h3 {
    margin-block-end: 4%;
}

.pledgeModal-div-header>h3,
.pledgeModal-div-header>p {
    font-size: clamp(0.65rem, 0.0795rem + 3.2602vw, 1.3rem);
}

.pledgeModal-div>p {
    font-size: clamp(0.65rem, 0.0795rem + 3.2602vw, 1.3rem);
    line-height: 175%;
    color: var(--Dark-gray);
}

.selected {
    border: 2px solid hsl(176, 50%, 47%);
}

.pledgeModal-div-header:not(.first)>input {
    grid-row: 1/3;
    grid-column: 1/2;
    justify-self: flex-start;
    align-self: center;
}

input[type='radio'] {
    appearance: none;
    width: 6vw;
    aspect-ratio: 1;
    border: 1px solid hsla(0, 0%, 48%, .4);
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="radio"]::before {
    content: "";
    width: 55%;
    aspect-ratio: 1;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 2rem 2rem hsl(176, 50%, 47%);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

.pledgeModal-div-header>h3 {
    grid-row: 1/2;
    grid-column: 2/3;
}

.pledgeModal-div-header>p {
    grid-row: 2/3;
    grid-column: 2/3;
}

.pledgeModal-div-stats {
    grid-row: 1/2;
    grid-column: 4/5;
    margin-block-start: 8%;
}

.pleade-div-stats,
.pleade-div-stats>span {
    font-size: .1rem;
}

.pledgeModal-div-stats>span {
    margin-left: 4%;
}

.pledgeModal-div-footer {
    border-top: 1px solid hsla(0, 0%, 48%, .4);
    display: none;
    margin-inline: -10%;
    margin-block-start: 8%;
    padding-block-start: 12.5%;
    padding-inline: 10%;
}

.pledgePackage>span {
    margin-inline-start: 3%;
}

.pledgeFooterOpen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 100%;
    column-gap: 6.5%;
    display: flex;
}

label,
form>p {
    margin-block-end: 7.5%;
    font-size: clamp(0.61rem, 0.0482rem + 3.21vw, 1.25rem);
    font-weight: 500;
    color: var(--Dark-gray);
}

.footerFirst>form {
    flex-direction: column;
    align-items: center;
}

form {
    position: relative;
}

input[type='number'] {
    position: relative;
    font-weight: 700;
    flex: 45%;
}

.amount-input {
    border-radius: 2em;
    border: 1px solid hsla(0, 0%, 48%, .4);
    appearance: none;
    padding-left: 17.5%;
    max-width: 43%;
}

.dollarSign {
    position: absolute;
    top: 32.5%;
    left: 12%;
    z-index: 8;
    font-size: clamp(0.6rem, 0.0295rem + 3.2602vw, 1.25rem);
    font-weight: 700;
    color: hsla(0, 0%, 48%, .4);
}

.continue {
    border-radius: 2em;
    border: none;
    background-color: hsl(176, 50%, 47%);
    flex: 42%;
    transition: background-color .25s ease-in-out;
}

.amount-input,
.continue {
    padding-block: 6.5%;
    font-size: clamp(0.6rem, 0.0295rem + 3.2602vw, 1.25rem);
}

.firstContinue {
    min-width: 50%;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.err {
    color: red;
    margin-block-end: 1rem;
}

/* PLEDGE DESKTOP */

@media (min-width: 37.5rem) {

    /* TYPOGRAPHY */

    .pledgeModal-div-header>h3,
    .pledgeModal-div-header>p {
        margin: 0;
        padding: 0;
        font-size: clamp(0.5rem, 0.0588rem + 1.1765vw, 2rem);
    }

    /* LAYOUT */

    #pledgeModal {
        width: 54%;
        top: 25.75vh;
        padding-inline: 3.5%;
        padding-block: 2% 3.6%;
    }

    #pledgeModal>div>h2 {
        margin-top: 3%;
        font-size: clamp(0.65rem, -0.0706rem + 1.9216vw, 3.1rem);
    }

    #pledgeModal>p {
        margin-block: 3% 5%;
        font-size: clamp(0.45rem, -0.0132rem + 1.2353vw, 2.025rem);
    }

    #close-pledgeModal {
        width: clamp(0.5rem, 0.0588rem + 1.1765vw, 2rem);
    }

    .pledgeModal-div {
        padding: 5.5% 4.25%;
        display: grid;
        grid-template-rows: repeat(2, max-content);
        grid-template-columns: max-content 1fr;
        border-radius: .45em;
        width: 100%;
    }

    input[type='radio'] {
        width: 1.75vw;
        height: 1.75vw;
    }

    div .first>h3 {
        align-self: flex-start;
    }

    .pledgeModal-div-header:not(.first)>input {
        align-self: flex-start;
    }

    .pledgeModal-div-header {
        grid-row: 1/2;
        grid-column: 1/2;
        padding: 0;
        margin: 0;
        display: flex;
        column-gap: 1vw;
    }

    .pledgeModal-div-header>* {
        width: max-content;
    }

    .pledgeModal-div-p {
        grid-row: 2/3;
        grid-column: 1/3;
        align-self: flex-end;
        justify-self: flex-end;
        width: 91.25%;
    }

    .pledgeModal-div-stats {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .pledgeModal-div>p:first-of-type {
        font-size: clamp(0.4rem, -0.0118rem + 1.098vw, 1.8rem);
        line-height: 175%;
        margin-block-start: 3.25%;
    }

    .pledgeModal-div>p:not(:first-of-type) {
        font-size: clamp(0.5rem, -0.0147rem + 1.3725vw, 2.25rem);
        line-height: 100%;
        margin-left: 75%;
    }

    .pledgeModal-div>p:not(:first-of-type)>span {
        font-size: clamp(0.4rem, -0.0706rem + 1.2549vw, 2rem);
        line-height: 100%;
        margin-left: 15%;
    }

    .pledgeModal-div>p {
        margin: 0;
        padding: 0;
    }


    .pledgeModal-div-footer {
        display: none;
        grid-column: 1/3;
        padding: 0;
        margin: 0;
        border-top: 1px solid hsla(0, 0%, 48%, .5);
    }

    .pledgeFooterOpen {
        display: flex;
        flex-direction: row;
        width: 110%;
        margin-inline-start: -5%;
        padding-inline: 4.25%;
        margin-block-end: -2%;
        padding-block-start: 4%;
        margin-block-start: 6.25%;
    }

    .err {
        font-size: clamp(0.4rem, -0.0412rem + 1.1765vw, 1.9rem);
        background-color: rgb(235, 235, 235);
        z-index: -1;
        color: red;
        border-radius: 5em;
        width: max-content;
        margin-inline-end: -16.5%;
        margin-left: auto;
        margin-block-end: 0;
    }

    .error {
        padding-block: 2.75%;
        padding-inline: 5% 20%;
        outline: 2px dashed red;
        outline-offset: -2px;
    }

    #formOne {
        flex-direction: row;
        margin: 0;
        justify-content: space-between;
        width: 100%;
    }

    #formOne>button {
        padding-block: 2.65%;
        max-width: 18.75%;
        min-width: 0;
    }

    #formOne>p,
    .pledgeModal-div-footer>label {
        min-width: max-content;
        margin: 0;
        font-size: clamp(0.4rem, -0.0412rem + 1.1765vw, 1.9rem);
    }

    .pledgeModal-div-footer>form {
        width: 39%;
        column-gap: 6.75%;
    }

    input[type='number'],
    .continue {
        padding-block: 6.5%;
        font-size: clamp(0.4rem, -0.0118rem + 1.098vw, 1.8rem);
        flex: 0%;
    }

    .continue {
        min-width: 48.75%;
    }

    .dollarSign {
        cursor: text;
        top: 31.5%;
        left: 11%;
        font-size: clamp(0.4rem, -0.0412rem + 1.1765vw, 1.9rem);
    }

    .hthree:hover {
        color: hsl(176, 50%, 47%);
        cursor: pointer;
    }

    .hthree:hover+p {
        font-weight: 700;
    }

    .continue:hover {
        background-color: hsl(176, 72%, 28%);
    }

    input:focus {
        outline-color: hsl(176, 50%, 47%);
    }

}